<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="asset/styles.css" />
    <title>Document</title>
</head>
<body>
    <div id="app" class="container mt-5 ">
        <div class="usuario6 card text-bg-success mb-3 " style="width: 18rem; margin: 0 auto;">
            <div class="card-body">
                <h1 class="card-header">Detalles del Usuario 6</h1>
                <div v-if="user6" class="mb-4">
                    <p class="card-text"><strong>ID:</strong> {{ user6.id }}</p>
                    <p class="card-text"><strong>Nombre:</strong> {{ user6.name }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ user6.email }}</p>
                    <p class="card-text"><strong>Direccion:</strong> {{ user6.address.street }}, {{ user6.address.suite }}</p>
                    <p class="card-text"><strong>Ciudad:</strong> {{ user6.address.city }}</p>
                    <p class="card-text"><strong>Telefono:</strong> {{ user6.phone }}</p>
                </div>
            </div>
        </div>
        <h2 style="text-align: center;">Todos los usuarios</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" v-for="user in otherUsers" :key="user.id">
                <h2 class="accordion-header" :id="'heading' + user.id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse' + user.id" aria-expanded="false" :aria-controls="'collapse' + user.id">
                        {{ user.name }}
                    </button>
                </h2>
                <div :id="'collapse' + user.id" class="accordion-collapse collapse" :aria-labelledby="'heading' + user.id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><strong>ID:</strong> {{ user.id }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Ciudad:</strong> {{ user6.address.city }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="asset/main.js"></script>
</body>
</html>